baseURL = 'http://localhost/'
title = 'Josemi Liébana'
copyright = "© 2025 Josemi Liébana"
languageCode = 'en-us'
enableRobotsTXT = true
enableGitInfo = true

[build]
  noJSConfigInAssets = true
  [build.buildStats]
    # With each build, Hugo writes a hugo_stats.json file that contains arrays
    # of the class attributes, id attributes, and tags of each HTML element
    # within the published site. For production builds, this file is required
    # by PurgeCSS to prune unused CSS.
    enable = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      # This setting allows inlining <script> and <style> tags in markdown,
      # which is useful and required to use Prism plugins, but may be dangerous
      # if the content isn't trustworthy.
      unsafe = true

[imaging]
  # JPEG and WebP quality
  quality = 90

[outputs]
  home = ["html", "rss", "searchIndex"]

[outputFormats]
  [outputFormats.searchIndex]
    mediaType = "application/json"
    baseName = "search-index"
    isPlainText = true
    notAlternative = true

[params]
  author = "Josemi Liébana"
  subtitle = "Engineering Leader"
  description = "Josemi Liébana is an Engineering Leader and a computer enthusiast."

  # dark or light, defaults to light
  defaultTheme = 'dark'
  # gray red green yellow blue purple aqua orange, defaults to blue
  themeColor = 'aqua'
  # soft medium hard, defaults to medium
  themeContrast = "hard"

  [params.logo]
    text = "josemi-liebana.com"
    url = "/"

  [params.prism]
    languages = [
      "markup",
      "css",
      "clike",
      "javascript",
      "bash",
      "hcl",
      "ignore",
      "json",
      "markdown",
      "toml",
      "yaml",
      "php",
      "python"
    ]
    plugins = [
      "normalize-whitespace",
      "toolbar",
      "copy-to-clipboard",
      "command-line"
    ]

  # Social share links for posts:
  #   - iconSuite: "simple-icon" or "tabler-icon"
  #   - iconName: name of the icon from the "iconSuite"
  #   - {url} placeholder for post .Permalink
  #   - {title} placeholder for post .Title
  # See  https://github.com/bradvin/social-share-urls for more format strings
  [[params.socialShare]]
    iconSuite = "simple-icon"
    iconName = "x"
    formatString = "https://x.com/intent/post?url={url}&text={title}"
  [[params.socialShare]]
    iconSuite = "tabler-icon"
    iconName = "outline/brand-linkedin"
    formatString = "https://www.linkedin.com/sharing/share-offsite/?url={url}"
  [[params.socialShare]]
    iconSuite = "simple-icon"
    iconName = "facebook"
    formatString = "https://www.facebook.com/sharer.php?u={url}"
  [[params.socialShare]]
    iconSuite = "simple-icon"
    iconName = "reddit"
    formatString = "https://reddit.com/submit?url={url}&title={title}"
  [[params.socialShare]]
    iconSuite = "simple-icon"
    iconName = "ycombinator"
    formatString = "https://news.ycombinator.com/submitlink?u={url}&t={title}"
  [[params.socialShare]]
    iconSuite = "tabler-icon"
    iconName = "outline/mail"
    formatString = "mailto:?subject={title}&body={url}"

  [menu]
  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/posts"
    weight = 10
  #[[menu.main]]
  #  identifier = "projects"
  #  name = "Projects"
  #  url = "/projects"
  #  weight = 20
  #[[menu.main]]
  #  identifier = "cv"
  #  name = "CV"
  #  url = "/cv"
#  weight = 30
  #[[menu.main]]
  #  identifier = "about"
  #  name = "About"
  #  url = "/about"
  #  weight = 40

